@model Test_Invoice.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceTotalItbis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceTotalItbis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model?.InvoiceId">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
