@model IEnumerable<Test_Invoice.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Invoices</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceTotalItbis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceSubtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceTotalItbis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceSubtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.InvoiceId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.InvoiceId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.InvoiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
