@model IEnumerable<Test_Invoice.Models.InvoicesDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Invoices Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDetailQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDetailPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDetailTotalItbis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDetailSubtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDetailTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDetailQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDetailPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDetailTotalItbis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDetailSubtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDetailTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.InvoiceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
